/* src/App.css */
/* CSS reset */
@media print {
  div {
    page-break-inside: avoid !important;
  }

  .cv-header,
  .cv-nav,
  .instruct,
  footer {
    display: none !important;
  }

  #print-target,
  #print-target * {
    visibility: visible !important;
    box-shadow: none;
  }

  #print-target {
    padding: 0;
    display: block;
  }

  #add-edu,
  #remove-edu,
  #add-work,
  #remove-work {
    display: none !important;
  }
}

@page {
  margin-top: 2cm;
  margin-bottom: 2cm;
  margin-left: 2cm;
  margin-right: 2cm;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f9f9f9;
}

.cv-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.5rem;
  color: #93032e;
  width: 100%;
  margin: inherit;
  padding: inherit;
}

.cv-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding-top: 16px;
  padding-left: 20px;
}

.cv-nav > button {
  width: 100px;
  height: 40px;
  background-color: #93032e;
  color: #f9f9f9;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cv-nav > button:hover {
  background-color: #f9f9f9;
  border: 2px solid #93032e;
  color: #93032e;
}

.main {
  display: flex;
  flex-direction: column;
}

.instruct {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: inherit;
  font-size: 1.5rem;
  padding-left: 12px;
  color: #93032e;
}

footer {
  margin-top: auto;
  font-size: 1.2rem;
  color: #93032e;
  font-weight: 200;
  padding-bottom: 12px;
}

footer > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
